<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ oViewConf.getModuleUrl('oxsloggingframework', 'css/loggingframework.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

{% block scripts %}{% endblock %}

{% if oView.getViewParameter('reloadnav') %}
<script>
if (top.basefrm && top.basefrm.navigation) {
    top.basefrm.navigation.location.reload();
}
</script>
{% endif %}
</body>
</html>
